/* .box{
    width: 200px;
    height: 200px;
    background-color: red;
    padding: 10px;
    border: 10px solid black;
    margin: 15px;
} */

.box{
    width: 100px ;
    height: 100px;
    padding: 20px;
    background-color: red;
}
.box1{
    border: 10px solid rgb(23, 23, 83);
}
.box2{
    border: 10px solid blue;
    margin-left: 160px;
}
.box3{
    border: 10px solid rgb(9, 161, 73);
    margin-left: 320px;
}