/* p::first-line{
    color: red;
} */

span{
    display: inline-block;
}


span::first-line{
    color: blue;
    background-color: yellow;
}

p::first-letter{
    font-size:  40px;
    color: blue;
}
