h1{
    /* mau chu */
    color: blue;
    /* kieu chu */
    font-style: italic;
    /* font chu */
    font-family: Arial, Helvetica, sans-serif;
    /* chuyern hoa thuong */
    text-transform: lowercase;
    /* can giua */
    text-align: center;
    /* co chu */
    font-size: 18;
}